# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django==5.0
gunicorn>=20.1.0
requests==2.31.0
qdrant-client>=1.7.0
confluent_kafka==2.3.0
django-cors-headers>= 4.3.1
