// adjust height and with of the application
html, body, #root {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  overflow-y: auto !important;
  overflow-x: auto !important;
}
